<<<<<<< Updated upstream
tr{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 7px;
}

th, td{
    text-align: center;
    padding: 10px;
}

th{
    background-color: #6a4caf;
    color: white;
}

=======
body {
    background-color: rgb(24, 26, 27)
}

.h1{
    color: white;
}

label{
    color: white;
}
input{
    margin: 3px;
    padding: 5px;
}

button{
    margin: 3px;
    padding: 5px;

}

.col-12 button{
    background-color: green;
    color: white;
}
>>>>>>> Stashed changes

