.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

button{
    background-color: green;
    color: white;
    border: none;
}

button:hover {
  background-color: red
}